@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.team {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #2a2a2a;
    text-align: left;
    border-radius: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    max-height: 50vh;
    margin: 8px;
    margin-top: 6px;
}

.summoner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--col);
    padding-left: 0px;
    padding-right: 0;
    margin-left: 0px;
    max-height: 20%;
}

.pos-icon {
    display: inline;
    justify-self: flex-start;
    width: auto;
    height: 4vh;
    margin: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.first {
    border-radius: 15px 15px 0 0;
    padding-top: 0;
}

.last {
    padding-bottom: 0px;
    border-radius: 0 0 15px 15px;
}

.champ-img-first {
    border-radius: 0 15px 0 0;
}

.champ-img-last {
    border-radius: 0 0 15px 0;
}

.summoner-name {
    color: #f0f0f0;
    font-family: 'Outfit', sans-serif;
    font-size: 3vh;
    justify-self: flex-start;
    flex-grow: 2;
}

.champ-img {
    justify-self: flex-end;
    margin: auto;
    margin-right: 0px;
    padding-right: 0px;
    max-height: 100%;
    max-width: 10vh;
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
    position: relative;
}


.result {
    width: 40px;
    flex: 10%;
    background: yellow;
}
