@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

@font-face {
  font-family: 'Empire';
  src: local("Empire"),
  url("./fonts/absolute-empire.ttf") format("truetype");
}

@font-face {
  font-family: 'Friz Quadrata';
  src: local('Friz Quadrata'),
  url("./fonts/friz-quadrata.ttf") format("truetype");
}
@font-face {
  font-family: 'Friz Quadrata Bold';
  src: local('Friz Quadrata Bold'),
  url("./fonts/friz-quadrata-bold.otf") format("opentype");
}

@font-face {
  font-family: 'Wolf';
  src: local('Wolf'),
  url("./fonts/vermin-vibes-slant.ttf") format("truetype");
}


.headerbar {
  font-family: 'Wolf';
  color: #f0f0f0;
  background-color: #1c1c1c;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.headerbar:after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -3px;
    background: green;
}

.slide-in-ul {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
}

.slide-in-ul:after {
  content: '';
  display: block;
  float: left;
  height: 2px;
  width: 0px;
  margin: auto;
  background: darkgoldenrod;
  animation-duration: 1s;
  animation-name: underline;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes underline {
  to {
    width: 100%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
