@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

@font-face {
  font-family: 'Empire';
  src: local("Empire"),
  url("./fonts/absolute-empire.ttf") format("truetype");
}

@font-face {
  font-family: 'Friz Quadrata';
  src: local('Friz Quadrata'),
  url("./fonts/friz-quadrata.ttf") format("truetype");
}
@font-face {
  font-family: 'Friz Quadrata Bold';
  src: local('Friz Quadrata Bold'),
  url("./fonts/friz-quadrata-bold.otf") format("opentype");
}

@font-face {
  font-family: 'Wolf';
  src: local('Wolf'),
  url("./fonts/vermin-vibes-slant.ttf") format("truetype");
}

.column {
  columns: 3 30%;
}

.headerbar {
  height: 50px;
  font-family: 'Wolf';
  color: #1f1f1f;
  text-align: left;
  padding-left: 20px;
  background-color: #00ccd3;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.white {
  color: #0f0f0f;
}

.scrollbox {
    height: calc(100vh - 50px);
    overflow: scroll;
    overflow-x: hidden;
}

.headerbar:after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -3px;
    background: green;
}

.slide-in-ul {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
}

.slide-in-ul:after {
  content: '';
  display: block;
  float: left;
  height: 2px;
  width: 0px;
  margin: auto;
  background: darkgoldenrod;
  animation-duration: 1s;
  animation-name: underline;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes underline {
  to {
    width: 100%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.col {
  padding: 8px;
  margin: 4px;
}

@media only screen and (max-width: 950px) {
  .col {width: 98%;}
  
  .row-05 {height: 15vh;}
  .row-10 {height: 30vh;}
  .row-15 {height: 45vh;}
  .row-20 {height: 60vh;}
  .row-25 {height: 75vh;}
  .row-30 {height: 90vh;}
  .row-35 {height: 105vh;}
  .row-40 {height: 120vh;}

    #game-time {
        font-size: 4vw;
    }

    #game-type {
        font-size: 4vw;
    }

    .score {
        font-size: 15vw;
    }

}

@media only screen and (min-width: 950px) {
  .col {width: 50%;}

  .row-05 {height: 12.5%;}
  .row-10 {height: 25%;}
  .row-15 {height: 37.5%;}
  .row-20 {height: 50%;}
  .row-25 {height: 62.5%;}
  .row-30 {height: 75%;}
  .row-35 {height: 87.5%;}
  .row-40 {height: 100%;}

  #game-time {
    font-size: 2vh;
  }
  #game-type {
    font-size: 2vh;
  }

  .score {
    font-size: 8vh;
  }

}


@media only screen and (min-width: 1300px) {
  .col {width: 33.33%;} 

  .row-05 {height: 12.5%;}
  .row-10 {height: 25%;}
  .row-15 {height: 37.5%;}
  .row-20 {height: 50%;}
  .row-25 {height: 62.5%;}
  .row-30 {height: 75%;}
  .row-35 {height: 87.5%;}
  .row-40 {height: 100%;}
    #game-time {
        font-size: 2vh;
    }
    #game-type {
        font-size: 2vh;
    }

    .score {
        font-size: 8vh;
    }

}

